table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  text-align: center;

  th {
    font-size: 13px;
    font-weight: bold;
    border: none;
    background: #E6E6EB;
    height: 35px;
    min-width: 100px;
    padding: 0 5px;
    margin: 0px;
  }

  td {
    border-top: 1px solid #CCCCD0;
    border-bottom: 1px solid #CCCCD0;
    font-size: 12px;
    height: 35px;
  }
}